pytest
torchmetrics
controlnet_aux
git+https://github.com/asomoza/image_gen_aux.git
pyyaml
pytest-rerunfailures
pytest-asyncio==1.2.0
comfyui@git+https://github.com/hiddenswitch/ComfyUI.git@dcba484
# comfyui_controlnet_aux dependencies
importlib_metadata
scipy
filelock
Pillow
einops
scikit-image
python-dateutil
fvcore
omegaconf
ftfy
addict
yacs
yapf
trimesh[easy]
albumentations
scikit-learn
matplotlib
